/* region RESET STYLES */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: monospace;

    padding-top: 50px;
    background-color: rgba(100, 149, 237, 0.45);
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

h1 {
    text-align: center;

    font-size: 3em;
    margin-bottom: 1em;
}
/* endregion RESET STYLES */

body {
    background-color: orange;
}

.list-wrapper {
    width: 300px;
    margin: 0 auto 4px;
    padding: .5em;

    background-color: #fff;
    outline: 4px solid rgba(0,0,0, .2);
}
.list {
    list-style: none;
    padding: 0;
}
.list-item {
    display: flex;
    align-items: center;

    padding: .5em;

    background-color: #fff;
}
.list-item:not(:last-child) {
    border-bottom: 1px solid #aaa;
}
.list-item input[type="checkbox"] {
    margin-right: 1em;
}
.list-item__remove {
    margin-left: auto;
}

.form {
    width: 300px;
    margin: 0 auto;

    display: flex;
}
.input-wrapper {
    position: relative;
    width: 100%;
}
.input-wrapper input[type="text"] {
    width: calc(100% - 1em);
    margin: 0;
    padding: .4em 4em .4em .4em;
    font-family: inherit;
}
.input-wrapper button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(-1em);
}