/* region RESET STYLES */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: monospace;

    padding-top: 50px;
    background-color: rgba(100, 149, 237, 0.45);
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

h1 {
    text-align: center;

    font-size: 3em;
    margin-bottom: 1em;
}
/* endregion RESET STYLES */

.clock {
    position: relative;

    margin: 0 auto;
    padding: 5px;

    width: 200px;
    aspect-ratio: 1/1;

    border-radius: 200px;
    border: 10px solid black;
}
[class^="clock__"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-100%) rotate(calc(var(--angle) + 90deg));
    transform-origin: 100%;

    display: block;

    height: 2px;
}
.clock__seconds {
    background-color: black;
    width: 45%;
}
.clock__minutes {
    background-color: red;
    width: 40%;
}
.clock__hours {
    background-color: green;
    width: 30%;
}