/* region RESET STYLES */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: monospace;

    padding-top: 50px;
    background-color: rgba(100, 149, 237, 0.45);
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

h1 {
    text-align: center;

    font-size: 3em;
    margin-bottom: 1em;
}
/* endregion RESET STYLES */

.cities {
    max-width: 400px;
    margin: 0 auto;
}
.cities .cities-filter {
    border: none;
    width: 100%;

    padding: .5em 1em;

    outline: 2px solid transparent;
    background-color: #fff;
    border-bottom: 1px solid #aaa;

    font-family: inherit;

    transition: .2s ease;
}
.cities .cities-filter:focus {
    outline-color: #74A4B4aa;
}

.cities-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cities-list__item {
    padding: .5em 1em;

    background-color: #fff;

    border-bottom: 1px solid #aaa;
}
.cities-list__item span {
    background-color: orange;
}