/* region RESET STYLES */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: monospace;

    padding-top: 50px;
    background-color: rgba(100, 149, 237, 0.45);
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

h1 {
    text-align: center;

    font-size: 3em;
    margin-bottom: 1em;
}
/* endregion RESET STYLES */

.canvas-wrapper {
    display: flex;
    justify-content: center;
}
#draw {
    background-color: #fff;
}